Repository moevm/nosql1h25-writer, pull requests merged in 2025-04, with the labels that each got.

#17 Auth
  .env.example
  .github/workflows/build-backend-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/swagger-docs.yml
  .gitignore
  Makefile
  backend/.gitignore
  backend/.golangci.yaml
  backend/Makefile
  backend/cmd/test/main.go
  backend/config/config.go
  backend/config/config.yaml
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/api/common/decorator/bind.go
  backend/internal/api/common/mw/auth.go
  backend/internal/api/common/refresh/refresh.go
  backend/internal/api/contract.go
  backend/internal/api/get_health/handler.go
  backend/internal/api/post_auth_login/handler.go
  backend/internal/api/post_auth_logout/handler.go
  backend/internal/api/post_auth_refresh/handler.go
  backend/internal/app/app.go
  backend/internal/app/db.go
  backend/internal/app/handler.go
  backend/internal/app/infra.go
  backend/internal/app/router.go
  backend/internal/app/service.go
  backend/internal/entity/auth.go
  backend/internal/entity/users.go
  backend/internal/repo/auth/contract.go
  backend/internal/repo/auth/errors.go
  backend/internal/repo/auth/mocks/mock_contract.go
  backend/internal/repo/auth/repository.go
  backend/internal/repo/orders/contract.go
  backend/internal/repo/orders/mocks/mock_contract.go
  backend/internal/repo/users/contract.go
  backend/internal/repo/users/errors.go
  backend/internal/repo/users/mocks/mock_contract.go
  backend/internal/repo/users/repository.go
  backend/internal/service/auth/contract.go
  backend/internal/service/auth/errors.go
  backend/internal/service/auth/jwt.go
  backend/internal/service/auth/mocks/mock_contract.go
  backend/internal/service/auth/service.go
  backend/internal/service/auth/service_test.go
  backend/internal/service/orders/contract.go
  backend/internal/service/orders/mocks/mock_contract.go
  backend/internal/service/users/contract.go
  backend/internal/service/users/errors.go
  backend/internal/service/users/mocks/mock_contract.go
  backend/pkg/hasher/mock_password.go
  backend/pkg/hasher/password.go
  backend/pkg/validator/validator.go
  docker-compose.yml
Labels: backend

#20 Применение авторизации и мидлверы
  backend/.golangci.yaml
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/common/mw/auth.go
  backend/internal/api/get_admin/handler.go
  backend/internal/api/get_health/handler.go
  backend/internal/api/post_auth_login/handler.go
  backend/internal/api/post_auth_logout/handler.go
  backend/internal/api/post_auth_refresh/handler.go
  backend/internal/app/app.go
  backend/internal/app/handler.go
  backend/internal/app/mw.go
  backend/internal/app/router.go
  docker-compose.yml
Labels: documentation, backend

#21 Документация по авторизации
  backend/docs/authorization.md
Labels: documentation

#22 Документация: соглашения
  backend/docs/agreements.md
Labels: documentation

#24 docs: new agreement
  backend/docs/agreements.md
Labels: documentation, backend

#31 Регистрация
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/common/mw/auth.go
  backend/internal/api/post_auth_register/handler.go
  backend/internal/app/app.go
  backend/internal/app/db.go
  backend/internal/app/handler.go
  backend/internal/app/router.go
  backend/internal/entity/users.go
  backend/internal/repo/users/contract.go
  backend/internal/repo/users/dto.go
  backend/internal/repo/users/errors.go
  backend/internal/repo/users/mocks/mock_contract.go
  backend/internal/repo/users/repository.go
  backend/internal/service/auth/contract.go
  backend/internal/service/auth/dto.go
  backend/internal/service/auth/mocks/mock_contract.go
  backend/internal/service/auth/service.go
  backend/internal/service/auth/service_test.go
  backend/internal/service/users/errors.go
Labels: enhancement, backend

#15 Базовые маршруты для заказов
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/get_orders/handler.go
  backend/internal/api/get_orders_id/handler.go
  backend/internal/app/app.go
  backend/internal/app/handler.go
  backend/internal/app/router.go
  backend/internal/entity/orders.go
  backend/internal/repo/orders/contract.go
  backend/internal/repo/orders/dto.go
  backend/internal/repo/orders/errors.go
  backend/internal/repo/orders/mocks/mock_contract.go
  backend/internal/repo/orders/repository.go
  backend/internal/service/orders/contract.go
  backend/internal/service/orders/dto.go
  backend/internal/service/orders/errors.go
  backend/internal/service/orders/mocks/mock_contract.go
  backend/internal/service/orders/service.go
  backend/internal/service/orders/service_test.go
Labels: backend
