Repository moevm/nosql1h25-writer, pull requests merged in 2025-06, with the labels that each got.

#84 Список заказов и список откликов пользователей
  frontend/src/components/OrderDetails.tsx
  frontend/src/components/ProfilePage.tsx
  frontend/src/hooks/useUserProfile.ts
  frontend/src/main.tsx
  frontend/src/pages/OrderDetails.tsx
  frontend/src/pages/UserOrders.tsx
  frontend/src/pages/UserResponses.tsx
  frontend/src/routes/user-orders.route.tsx
  frontend/src/routes/user-responses.route.tsx
  frontend/src/utils/date.ts
Labels: frontend

#83 редактирование профиля
  frontend/src/components/EditProfilePage.tsx
  frontend/src/components/ProfilePage.tsx
  frontend/src/hooks/useUserProfile.ts
  frontend/src/main.tsx
  frontend/src/routes/edit-profile.route.tsx
Labels: frontend

#85 Поиск заказов в админке
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/get_admin_users/handler.go
  backend/internal/app/app.go
  backend/internal/app/handler.go
  backend/internal/app/router.go
  backend/internal/repo/users/contract.go
  backend/internal/repo/users/dto.go
  backend/internal/repo/users/mocks/mock_contract.go
  backend/internal/repo/users/repository.go
  backend/internal/service/users/contract.go
  backend/internal/service/users/dto.go
  backend/internal/service/users/errors.go
  backend/internal/service/users/mocks/mock_contract.go
  backend/internal/service/users/service.go
Labels: backend

#88 редактирование заказов
  frontend/src/components/OrderDetails.tsx
  frontend/src/components/OrderEdit.tsx
  frontend/src/routes/orders.edit.route.tsx
Labels: frontend

#91 Список пользователей в админке, публичные профили пользователей, пополнение и вывод денег
  frontend/src/components/EditProfilePage.tsx
  frontend/src/components/OrderDetails.tsx
  frontend/src/components/ProfilePage.tsx
  frontend/src/components/UserProfilePage.tsx
  frontend/src/components/admin/ImportDatabase.tsx
  frontend/src/components/admin/UsersList.tsx
  frontend/src/components/admin/users.css
  frontend/src/hooks/useUserProfile.ts
  frontend/src/integrations/auth.ts
  frontend/src/main.tsx
  frontend/src/routes/AdminUsers.css
  frontend/src/routes/AdminUsers.tsx
  frontend/src/routes/admin.export.route.tsx
  frontend/src/routes/admin.import.route.tsx
  frontend/src/routes/user-profile.route.tsx
  frontend/src/styles/global.css
Labels: frontend

#92 Мелкие исправления на сайте
  frontend/index.html
  frontend/src/components/Header.tsx
  frontend/src/main.tsx
  frontend/src/routes/AdminUsers.tsx
  frontend/src/routes/admin.export.route.tsx
  frontend/src/routes/admin.import.route.tsx
  frontend/src/routes/demo.form.address.tsx
  frontend/src/routes/demo.form.simple.tsx
  frontend/src/routes/demo.table.tsx
  frontend/src/routes/demo.tanstack-query.tsx
Labels: bug, frontend

#96 Кастомизируемая статистика
  .github/workflows/backend-build-test.yml
  .github/workflows/golangci-lint.yml
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/dump.gzip
  backend/internal/api/get_admin_stats/handler.go
  backend/internal/app/app.go
  backend/internal/app/db.go
  backend/internal/app/handler.go
  backend/internal/app/router.go
  backend/internal/app/service.go
  backend/internal/entity/stats.go
  backend/internal/repo/stats/contract.go
  backend/internal/repo/stats/dto.go
  backend/internal/repo/stats/mocks/mock_contract.go
  backend/internal/repo/stats/repository.go
  backend/internal/service/stats/contract.go
  backend/internal/service/stats/dto.go
  backend/internal/service/stats/errors.go
  backend/internal/service/stats/mocks/mock_contract.go
  backend/internal/service/stats/service.go
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AdminSidebar.tsx
  frontend/src/components/OrderDetails.tsx
  frontend/src/components/OrderEdit.tsx
  frontend/src/components/ProfilePage.tsx
  frontend/src/components/admin/AdminStatsPage.tsx
  frontend/src/main.tsx
  frontend/src/routes/admin.stats.route.tsx
  frontend/src/routes/edit-profile.route.tsx
Labels: backend, frontend
