Repository moevm/nosql1h25-writer, pull requests merged in 2025-03, with the labels that each got.

#6 Backend layout
  .env.example
  backend/Dockerfile
  backend/Makefile
  backend/cmd/app/main.go
  backend/config/config.go
  backend/config/config.yaml
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/api/contract.go
  backend/internal/api/get_health/handler.go
  backend/internal/app/app.go
  backend/internal/app/db.go
  backend/internal/app/handler.go
  backend/internal/app/logger.go
  backend/internal/app/router.go
  backend/internal/entity/orders.go
  backend/internal/repo/orders/contract.go
  backend/internal/repo/orders/repository.go
  backend/internal/service/orders/contract.go
  backend/internal/service/orders/service.go
  backend/pkg/httpserver/option.go
  backend/pkg/httpserver/server.go
  backend/pkg/mongodb/mongodb.go
  docker-compose.yml
  go.mod
  go.sum
  proxy.nginx.conf
Labels: enhancement, backend

#9 Backend docs
  backend/docs/handler_services_repos_difference.md
  backend/docs/writing_api_handler.md
Labels: documentation, backend

#2 Шаблон для приложения
  .env.example
  README.md
  backend/.gitignore
  backend/.golangci.yaml
  backend/Dockerfile
  backend/Makefile
  backend/cmd/app/main.go
  backend/config/config.go
  backend/config/config.yaml
  backend/docs/docs.go
  backend/docs/handler_services_repos_difference.md
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/docs/writing_api_handler.md
  backend/go.mod
  backend/go.sum
  backend/internal/api/contract.go
  backend/internal/api/get_health/handler.go
  backend/internal/app/app.go
  backend/internal/app/db.go
  backend/internal/app/handler.go
  backend/internal/app/logger.go
  backend/internal/app/router.go
  backend/internal/entity/orders.go
  backend/internal/repo/orders/contract.go
  backend/internal/repo/orders/repository.go
  backend/internal/service/orders/contract.go
  backend/internal/service/orders/service.go
  backend/pkg/httpserver/option.go
  backend/pkg/httpserver/server.go
  backend/pkg/mongodb/mongodb.go
  docker-compose.yml
  frontend/.gitignore
  frontend/Dockerfile
  frontend/eslint.config.js
  frontend/index.html
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  hello_world/Dockerfile
  hello_world/cmd/main/main.go
  hello_world/go.mod
  hello_world/go.sum
  proxy.nginx.conf
Labels: enhancement, backend, frontend
